
<h1>Burger Time!</h1>

<h2>EAT ONE!</h2>

<ul>
  {{#each burger}}
    {{#unless this.devouered}}
      <li>
        {{this.burger_name}}

        <form action="index/update/{{this.id}}?_method=PUT" method="POST">
         
          <button type="submit">DINNER TIME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>These were good MmmMmm!</h2>

<ul>
  {{#each burger}}
    {{#if this.devouered}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="index/create" method="POST">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="entry">
  </div>

  <button type="submit">Add this new Burger</button>
</form>